@model IEnumerable<BaseModels.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CategoriaID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CategoriaID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.CategoriaID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Adicionar nova", "Create", null, new { @class = "btn btn-success" })
</p>
