@model IEnumerable<BaseModels.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoriaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoriaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoriaID })
        </td>
    </tr>
}

</table>
