@model Aula1406.Models.Categoria

@{
    ViewBag.Title = "Editar Categoria";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => Model.CategoriaID)

    @Html.LabelFor(m => Model.Nome)
    @Html.EditorFor(m => Model.Nome)
    @Html.ValidationMessageFor(m => Model.Nome)

    @Html.LabelFor(m => Model.Descricao)
    @Html.EditorFor(m => Model.Descricao)
    @Html.ValidationMessageFor(m => Model.Descricao)

    @Html.EditorFor(m => Model.Ativo)
    @Html.LabelFor(m => Model.Ativo)

    <input type="submit" value="Adicionar" class="btn btn-primary" />
}