@model CadastroEntidadesRelacionadas.Models.EntidadeA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EntidadeA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._EntidadeB.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._EntidadeB.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EntidadeAID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
